:host {
    --content-padding: 10px;
}

.content {
    padding: var(--content-padding);
}

.hris-button-1, .hris-button-2 {
    /*display: inline-block;*/
    padding: 10px 20px;
    color: white; /* black text */
    background-color: #D81E05; /* your chosen color */
    border: 1px solid white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* transition for hover effect */
    text-align: center;
    text-decoration: none;
    outline: none; /* remove default outline */
    margin-bottom: 20px;
}

/* Hover effect */
.hris-button-1:hover, .hris-button-2:hover {
    background-color: #a61704;
    color: white;
}

.hris-button-1:focus, .hris-button-2:focus {
    background-color: #a61704;
    color: white;
}

/* Optional: Disable state styling */
.hris-button-1:disabled, .hris-button-2:disabled {
    background-color: #c0c0c0; /* gray background */
    cursor: not-allowed; /* change cursor */
}

.hris-container {
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    background-color: white;
    width: 750px;
    height: 400px;
    align-items: center;
    justify-content: flex-start;
    padding: var(--content-padding);
    margin-top: 20px;
}

.hris-row-2, .hris-row-3, .hris-row-4 {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    width: 700px;
}

.hris-row-1 {
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    width: 700px;
    justify-content: center;
    align-items: center;
}

.hris-row-2 {
    height: 60px;
}

.hris-button-2 {
    margin-top: 20px;
}

.hris-row-2, .hris-row-3, .hris-row-4 {
    align-items: center;
    justify-content: center;
    column-gap: 5px;
}

input[type="number"] {
    width: 50px;
    height: 20px;
}