<div class="hris-container">
    <h2 class="hris-title">Generador Fichero HRIS</h2>
    <div class="hris-row-1">
        <button class="hris-button-1"><span>Ejecutar Proceso</span></button>
    </div>
    <div class="hris-row-2">
        <label for="daysNum">Generar HRIS cada:</label>
        <input id="daysNum" type="number" name="daysNum" value="3" />
        <button class="hris-button-2"><span>Modificar</span></button>
    </div>
    <div class="hris-row-3">
        <label for="lastHRISCSV">Última ejecución</label>
        <p class="lastHRISCSV-info">FECHA Y HORA PLACEHOLDER</p>
        <a href="">Descargar último fichero generado</a>
    </div>
</div>