<div class="breaks-container">
    <h2 class="breaks-title">Importar Pausas Formación</h2>
    <div class="breaks-row-1">
        <button class="breaks-button-1"><span>Ejecutar Proceso</span></button>
    </div>
    <div class="breaks-row-2">
        <label for="minNum">Ejecutar cada:</label>
        <input id="minNum" type="number" name="minNum" value="30" />
        <label for="minNum">minutos</label>
        <button class="breaks-button-2"><span>Modificar</span></button>
    </div>
    <div class="breaks-row-3">
        <label for="lastBreakCSV">Última ejecución:</label>
        <p class="lastBreakCSV-info">FECHA Y HORA PLACEHOLDER</p>
    </div>
</div>