/* You can add global styles to this file, and also import other style files */
body {
    background-color: #ececec;
    min-height: 90vh;
    width: 95vw;
    font-family: 'DM Sans', Arial, Helvetica, sans-serif;
}